In [22]:
import pandas as pd
import numpy as np

# Задание 1

In [26]:
movies_path = "/Users/soloveva_polina/Downloads/ml-latest-small/movies.csv"
ratings_path = "/Users/soloveva_polina/Downloads/ml-latest-small/ratings.csv"

In [27]:
movies = pd.read_csv(movies_path)
ratings = pd.read_csv(ratings_path)
df = pd.merge(movies, ratings, on=['movieId'])

In [28]:
def get_rating_class(df):

    df['class'] = np.where(df['rating'] <= 2, 'Низкий рейтинг',
                np.where(df['rating'] < 4.5, 'Средний рейтинг', 'Высокий рейтинг'))

    return df

In [29]:
df_with_class = get_rating_class(df)

df_with_class.head()

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,Средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,Средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,Высокий рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,Низкий рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,Средний рейтинг

# Задание 2

In [39]:
import collections

In [69]:
kw_path = "/Users/soloveva_polina/Downloads/ml-latest-small/keywords.csv"
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

regions = collections.defaultdict(lambda: "undefined")

In [70]:
for region, cities in geo_data.items():
    for city in cities:
        regions[city] = region

In [71]:
regions

defaultdict(<function __main__.<lambda>()>,
            {'москва': 'Центр',
             'тула': 'Центр',
             'ярославль': 'Центр',
             'петербург': 'Северо-Запад',
             'псков': 'Северо-Запад',
             'мурманск': 'Северо-Запад',
             'владивосток': 'Дальний Восток',
             'сахалин': 'Дальний Восток',
             'хабаровск': 'Дальний Восток'})

In [87]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [88]:
keywords = pd.read_csv(kw_path)

In [89]:
def get_region(keyword):
   # return keyword.split(" ")
    for token in keyword.split(" "):
        return regions[token.lower()]

In [90]:
keywords["region"] = keywords["keyword"].apply(get_region)

In [91]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [92]:
keywords[keywords["region"] == 'Центр'].head()

                keyword   shows region
1259             москва  153050  Центр
5983  москва третий рим   43182  Центр
6075          ярославль   41720  Центр
6999          москва 24   37459  Центр
7103        москва сити   37022  Центр

In [93]:
keywords[keywords["region"] == 'Северо-Запад'].head()

                         keyword  shows        region
8977                    мурманск  29984  Северо-Запад
11222                      псков  24885  Северо-Запад
20823                  петербург  14859  Северо-Запад
84400            мурманск погода  17908  Северо-Запад
88413  петербург только по любви   4142  Северо-Запад

In [94]:
keywords[keywords["region"] == 'Дальний Восток'].head()

                 keyword  shows          region
5858         владивосток  43038  Дальний Восток
9084           хабаровск  29655  Дальний Восток
21445            сахалин  14494  Дальний Восток
38863  владивосток время  14794  Дальний Восток
46720    хабаровск время  10777  Дальний Восток